@using Covenant.Models.Covenant
@model IEnumerable<CapturedHashCredential>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h4 class="h5">Hash Credentials</h4>
</div>

<div class="table-responsive">
    <table id="hash-table" class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Domain)</th>
                <th>@Html.DisplayNameFor(model => model.Username)</th>
                <th>@Html.DisplayNameFor(model => model.HashCredentialType)</th>
                <th>@Html.DisplayNameFor(model => model.Hash)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Domain)</td>
                    <td>@Html.DisplayFor(modelItem => item.Username)</td>
                    <td>@Html.DisplayFor(modelItem => item.HashCredentialType)</td>
                    <td>@Html.DisplayFor(modelItem => item.Hash)</td>
                </tr>
            }
        </tbody>
    </table>
</div>