@using Covenant.Models.Covenant
@model IEnumerable<CapturedTicketCredential>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h4 class="h5">Ticket Credentials</h4>
</div>

<div class="table-responsive">
    <table id="ticket-table" class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Domain)</th>
                <th>@Html.DisplayNameFor(model => model.Username)</th>
                <th>@Html.DisplayNameFor(model => model.ServiceName)</th>
                <th>@Html.DisplayNameFor(model => model.TicketCredentialType)</th>
                <th>@Html.DisplayNameFor(model => model.Ticket)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Domain)</td>
                    <td>@Html.DisplayFor(modelItem => item.Username)</td>
                    <td>@Html.DisplayFor(modelItem => item.ServiceName)</td>
                    <td>@Html.DisplayFor(modelItem => item.TicketCredentialType)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ticket)</td>
                </tr>
            }
        </tbody>
    </table>
</div>