@using Covenant.Models.Indicators
@model IEnumerable<FileIndicator>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h4 class="h5">File Indicators</h4>
</div>

<div class="table-responsive">
    <table id="file-table" class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.FileName)</th>
                <th>@Html.DisplayNameFor(model => model.FilePath)</th>
                <th>@Html.DisplayNameFor(model => model.SHA2)</th>
                <th>@Html.DisplayNameFor(model => model.SHA1)</th>
                <th>@Html.DisplayNameFor(model => model.MD5)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FileName)</td>
                    <td>@Html.DisplayFor(modelItem => item.FilePath)</td>
                    <td>@Html.DisplayFor(modelItem => item.SHA2)</td>
                    <td>@Html.DisplayFor(modelItem => item.SHA1)</td>
                    <td>@Html.DisplayFor(modelItem => item.MD5)</td>
                </tr>
            }
        </tbody>
    </table>
</div>