@using Covenant.Models.Indicators
@model IEnumerable<NetworkIndicator>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h4 class="h5">Network Indicators</h4>
</div>

<div class="table-responsive">
    <table id="network-table" class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Protocol)</th>
                <th>@Html.DisplayNameFor(model => model.Domain)</th>
                <th>@Html.DisplayNameFor(model => model.IPAddress)</th>
                <th>@Html.DisplayNameFor(model => model.Port)</th>
                <th>@Html.DisplayNameFor(model => model.URI)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Protocol)</td>
                    <td>@Html.DisplayFor(modelItem => item.Domain)</td>
                    <td>@Html.DisplayFor(modelItem => item.IPAddress)</td>
                    <td>@Html.DisplayFor(modelItem => item.Port)</td>
                    <td>@Html.DisplayFor(modelItem => item.URI)</td>
                </tr>
            }
        </tbody>
    </table>
</div>