@using Covenant.Models.Covenant
@model Theme
@{
    Layout = "_ThemeLayout";
    ViewData["Title"] = "Themes";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Create Theme</h1>
</div>

<form id="create-theme-form" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.Name"></label>
            <input asp-for="@Model.Name" name="Name" value="@Model.Name" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Description"></label>
            <input asp-for="@Model.Description" name="Description" value="@Model.Description" class="form-control">
        </div>
    </div>
    @if (User.IsInRole("Administrator"))
    {
        <button type="submit" class="btn btn-primary"><span data-feather="plus"></span> Create</button>
    }
</form>
