@using Covenant.Models.Grunts
@model IEnumerable<GruntTask>

<div class="table-responsive">
    <table id="task-table" class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.ReferenceSourceLibraries)</th>
                <th>@Html.DisplayNameFor(model => model.ReferenceAssemblies)</th>
                <th>@Html.DisplayNameFor(model => model.EmbeddedResources)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="GruntTask" asp-action="Edit" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    @{
                        var libraries = string.Join(",", item.ReferenceSourceLibraries.Select(RSL => RSL.Name));
                        var assemblies = string.Join(",", item.ReferenceAssemblies.Select(RA => RA.Name));
                        var resources = string.Join(",", item.EmbeddedResources.Select(ER => ER.Name));
                    }
                    <td>@Html.DisplayFor(modelItem => libraries)</td>
                    <td>@Html.DisplayFor(modelItem => assemblies)</td>
                    <td>@Html.DisplayFor(modelItem => resources)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-controller="GruntTask" asp-action="Create" class="btn btn-primary">
    <span data-feather="plus"></span>
    Create
</a>