@using Covenant.Models.Listeners
@model HttpListener
@{
    Layout = "_ListenerLayout";
    ViewData["Title"] = "HTTP Listener";
    IEnumerable<HttpProfile> Profiles = ViewBag.Profiles;
    IEnumerable<HostedFile> HostedFiles = ViewBag.HostedFiles;
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
    <h1 class="h2">Listener: <span class="text-primary">@Html.DisplayFor(model => model.Name)</span></h1>
</div>

<ul class="nav nav-tabs mb-3" id="listener-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">
            <span data-feather="info"></span>
            Info
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="host-tab" data-toggle="tab" href="#host" role="tab" aria-controls="host" aria-selected="false">
            <span data-feather="cloud"></span>
            Hosted Files
        </a>
    </li>
</ul>

<div class="tab-content" id="listener-tab-content">
    <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
        <input asp-for="Id" value="@Model.Id" type="hidden" disabled>
        <input asp-for="GUID" value="@Model.GUID" type="hidden" disabled>
        <input asp-for="ListenerTypeId" value="@Model.ListenerTypeId" type="hidden" disabled>
        <input asp-for="Status" value="Active" type="hidden" disabled>
        <input asp-for="CovenantToken" value="@Model.CovenantToken" type="hidden" disabled>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" value="@Model.Description" class="form-control-plaintext" readonly disabled>
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" value="@Model.Name" class="form-control" disabled>
        </div>
        <div class="form-group">
            <label asp-for="Url"></label>
            <input asp-for="Url" value="@Model.Url" class="form-control" disabled>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label asp-for="ConnectAddress"></label>
                <input asp-for="ConnectAddress" value="@Model.ConnectAddress" class="form-control form-control-sm" disabled>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="BindAddress"></label>
                <input asp-for="BindAddress" value="@Model.BindAddress" class="form-control form-control-sm" disabled>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="BindPort"></label>
                <input asp-for="BindPort" value="@Model.BindPort" class="form-control form-control-sm" disabled>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="UseSSL"></label>
                <select asp-for="UseSSL" class="form-control form-control-sm" disabled>
                    <option>False</option>
                    <option>True</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProfileId">HttpProfile</label>
            <select asp-for="ProfileId" class="form-control" disabled>
                @foreach (var item in Profiles)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="SSLCertificate"></label>
                <input asp-for="SSLCertificate" class="form-control-file" type="file" disabled>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SSLCertificatePassword"></label>
                <input asp-for="SSLCertificatePassword" class="form-control form-control-sm" disabled>
            </div>
        </div>

        <div class="btn-group" role="group">
            <form asp-action="Start" asp-route-id="@Model.Id">
                <input type="hidden" name="@Html.DisplayNameFor(model => model.Id)" value="@Html.DisplayFor(model => model.Id)">
                @if (Model.Status == ListenerStatus.Active)
                {
                    <button type="submit" class="btn btn-outline-primary mr-5" disabled>Start</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary mr-5">Start</button>
                }
            </form>

            <form asp-action="Stop" asp-route-id="@Model.Id">
                <input type="hidden" name="@Html.DisplayNameFor(model => model.Id)" value="@Html.DisplayFor(model => model.Id)">
                @if (Model.Status == ListenerStatus.Active)
                {
                    <button type="submit" class="btn btn-danger ml-5">Stop</button>
                }
                else
                {
                    <button type="submit" class="btn btn-outline-danger ml-5" disabled>Stop</button>
                }
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="host" role="tabpanel" aria-labelledby="host-tab">
        @{
            ViewBag.Listener = Model;
            await Html.RenderPartialAsync("../HostedFile/_HostedFileTable", HostedFiles);
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#info-tab").tab('show');
        });
    </script>
}