@inherits OwningComponentBase<ICovenantService>

@using Microsoft.JSInterop
@using Covenant.Core
@using Covenant.Models.Covenant
@using Covenant.Components.Shared
@inject IJSRuntime IJSRuntime

<CovenantTable TItem="CapturedTicketCredential" IsSearchable="IsSearchable" IsSortable="IsSortable" IsPaginated="IsPaginated" PageLength="PageLength" Items="TicketCredentials.ToList()" SearchRow="IsRowDisplayed" class="table table-hover">
    <TableHeader>
        <SortableTableHeader TItem="CapturedTicketCredential" TItem2="string" GetSortableProperty="(credential) => credential.Domain">
            <HeaderContent>Domain</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="CapturedTicketCredential" TItem2="string" GetSortableProperty="(credential) => credential.Username">
            <HeaderContent>Username</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="CapturedTicketCredential" TItem2="string" GetSortableProperty="(credential) => credential.ServiceName">
            <HeaderContent>ServiceName</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="CapturedTicketCredential" TItem2="TicketType" GetSortableProperty="(credential) => credential.TicketCredentialType">
            <HeaderContent>TicketCredentialType</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="CapturedTicketCredential" TItem2="string" GetSortableProperty="(credential) => credential.Ticket">
            <HeaderContent>Ticket</HeaderContent>
        </SortableTableHeader>
        <th></th>
    </TableHeader>
    <TableRow Context="credential">
        <tr>
            <td>@credential.Domain</td>
            <td>@credential.Username</td>
            <td>@credential.ServiceName</td>
            <td>@credential.TicketCredentialType</td>
            <td>@credential.Ticket</td>
            <td style="text-align: right;">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle pt-0 pb-0 mt-n2" type="button" id="dropdownActionTicketCredential" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownActionTicketCredential">
                        <a class="dropdown-item" type="button" href="/credential/edit/@credential.Id">
                            <span class="fe fe-edit"></span>
                            Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" type="button" @onclick="(e => OnDeleteCredential(credential))">
                            <span class="fe fe-x"></span>
                            Delete
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </TableRow>
</CovenantTable>

@code {
    [Parameter]
    public List<CapturedTicketCredential> TicketCredentials { get; set; }

    [Parameter]
    public bool IsSearchable { get; set; } = false;

    [Parameter]
    public bool IsSortable { get; set; } = true;

    [Parameter]
    public bool IsPaginated { get; set; } = true;

    [Parameter]
    public int PageLength { get; set; } = 10;

    private bool IsRowDisplayed(CapturedTicketCredential credential, string SearchTerm)
    {
        return SearchTerm == string.Empty ||
            credential.Domain.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            credential.Username.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            credential.ServiceName.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            credential.TicketCredentialType.ToString().Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            credential.Ticket.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase);
    }

    private async Task OnDeleteCredential(CapturedCredential credential)
    {
        await Service.DeleteCredential(credential.Id);
        this.TicketCredentials.RemoveAt(this.TicketCredentials.FindIndex(C => C.Id == credential.Id));
    }
}
