@using Covenant.Models.Grunts
@model IEnumerable<ReferenceAssembly>

<div class="table-responsive">
    <table id="assembly-table" class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Location)</th>
                <th>@Html.DisplayNameFor(model => model.DotNetVersion)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="ReferenceAssembly" asp-action="Edit" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                    <td>@Html.DisplayFor(modelItem => item.DotNetVersion)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-controller="ReferenceAssembly" asp-action="Create" class="btn btn-primary">
    <span data-feather="plus"></span>
    Create
</a>