@using Covenant.Models.Launchers
@model MSBuildLauncher
@{
    await Html.RenderPartialAsync("_DiskLauncherForm", Model);
}

<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="@Model.TargetName"></label>
        <input asp-for="@Model.TargetName" value="@Model.TargetName" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label asp-for="@Model.TaskName"></label>
        <input asp-for="@Model.TaskName" value="@Model.TaskName" class="form-control">
    </div>
</div>