@using Covenant.Models.Launchers
@model Regsvr32Launcher
@{
    await Html.RenderPartialAsync("_ScriptletLauncherForm", Model);
}
<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="@Model.ParameterString"></label>
        <input asp-for="@Model.ParameterString" value="@Model.ParameterString" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label asp-for="@Model.DllName"></label>
        <input asp-for="@Model.DllName" value="@Model.DllName" class="form-control">
    </div>
</div>