@using Covenant.Models.Launchers
@model ScriptletLauncher

<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="@Model.ScriptLanguage"></label>
        <select asp-for="@Model.ScriptLanguage" asp-items="@Html.GetEnumSelectList<ScriptingLanguage>()" class="form-control"></select>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="@Model.ProgId"></label>
        <input asp-for="@Model.ProgId" value="@Model.ProgId" class="form-control">
    </div>
</div>