@model IEnumerable<Covenant.API.Models.Launcher>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Launchers";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Launchers</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-action="@item.Name">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section  Scripts
{
<script type="text/javascript">
    $(".nav-link").removeClass("active");
    $("#nav-launchers").addClass("active");
</script>
}