@model Covenant.API.Models.Regsvr32Launcher
@{
    Layout = "_LauncherLayout";
    ViewData["Title"] = "Regsvr32 Launcher";
}

<form class="border-top mt-4" asp-action="HostRegsvr32">
    <div class="mt-4">
        <h1 class="h2">Host @Html.DisplayFor(model => model.Name) Launcher</h1>
        @{
            var contents = string.IsNullOrWhiteSpace(Model.DiskCode) ? "" : Model.DiskCode;
        }
        <input type="hidden" name="@Html.DisplayNameFor(model => model.ListenerId)" value="@Html.DisplayFor(model => model.ListenerId)">
        <input type="hidden" name="Content" value="@Html.DisplayFor(model => contents)">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Url</div>
                </div>
                <input type="text" class="form-control" name="Path" placeholder="/path/to/file" />
                <div class="input-group-append" role="group">
                    <button type="submit" class="btn btn-primary" id="host">Host</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="border-top mt-4">
    <div class="form-group mt-4">
        <label for="launcher">Launcher</label>
        <div class="input-group">
            <input id="launcher" class="form-control" value="@Html.DisplayFor(model => model.LauncherString)" />
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-primary" data-clipboard-target="#launcher">
                    <span data-feather="clipboard"></span>
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

}