@inherits OwningComponentBase<ICovenantService>

@using System.Collections.Generic
@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Authorization

@using Covenant.Core
@using Covenant.Models.Grunts
@using Covenant.Models.Covenant
@using Covenant.Components.Shared
@inject IJSRuntime IJSRuntime
@inject INotificationService INotificationService
@inject AuthenticationStateProvider AuthenticationStateProvider

<CovenantTable TItem="Grunt" Items="Grunts" ItemsChanged="GruntsChanged" SearchRow="IsRowDisplayed"
               IsSearchable="IsSearchable" IsSortable="IsSortable" IsPaginated="IsPaginated" PageLength="PageLength" class="table table-hover">
    <TableHeader>
        @if (this.OnSelectTerminal.HasDelegate)
        {
            <th class="pl-1 pr-1">
                <div class="secondary-color">
                    <span class="fe fe-terminal"></span>
                </div>
            </th>
        }
        <SortableTableHeader TItem="Grunt" TItem2="string" GetSortableProperty="(grunt) => grunt.Name">
            <HeaderContent>Name</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="Grunt" TItem2="string" GetSortableProperty="(grunt) => grunt.Hostname">
            <HeaderContent>Hostname</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="Grunt" TItem2="string" GetSortableProperty="(grunt) => grunt.UserName">
            <HeaderContent>User</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="Grunt" TItem2="IntegrityLevel" GetSortableProperty="(grunt) => grunt.Integrity">
            <HeaderContent>Integrity</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="Grunt" TItem2="DateTime" GetSortableProperty="(grunt) => grunt.LastCheckIn">
            <HeaderContent>LastCheckIn</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="Grunt" TItem2="GruntStatus" GetSortableProperty="(grunt) => grunt.Status">
            <HeaderContent>Status</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="Grunt" TItem2="string" GetSortableProperty="(grunt) => grunt.Note">
            <HeaderContent>Note</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="Grunt" TItem2="string" GetSortableProperty="(grunt) => grunt.ImplantTemplate?.Name">
            <HeaderContent>Template</HeaderContent>
        </SortableTableHeader>
        <th></th>
    </TableHeader>
    <TableRow Context="grunt">
        @{ string opacity = GetGruntOpacity(grunt); }
        <tr>
            @if (this.OnSelectTerminal.HasDelegate)
            {
                <td @attributes="InputAttributes">
                    <div class="secondary-color secondary-highlight-hover secondary-shadow" @onclick="e => OnSelectTerminal.InvokeAsync(grunt)">
                        <span class="fe fe-terminal"></span>
                    </div>
                </td>
            }
            <td @attributes="InputAttributes" style="opacity: @GetGruntOpacity(grunt)">
                <a href="/grunt/interact/@grunt.Id">
                    @grunt.Name
                </a>
            </td>
            <td @attributes="InputAttributes" style="opacity: @opacity">@grunt.Hostname</td>
            <td @attributes="InputAttributes" style="opacity: @opacity">@grunt.UserName</td>
            <td @attributes="InputAttributes" style="opacity: @opacity">@grunt.Integrity</td>
            <td @attributes="InputAttributes" style="opacity: @opacity">@grunt.LastCheckIn</td>
            <td @attributes="InputAttributes" style="opacity: @opacity">@grunt.Status</td>
            <td @attributes="InputAttributes" style="opacity: @opacity">@grunt.Note</td>
            <td @attributes="InputAttributes" style="opacity: @opacity">@grunt.ImplantTemplate?.Name</td>
            <td style="text-align: right;">
                <ActionDropdown Name="dropdownActionGrunt">
                    @if (this.OnSelectTerminal.HasDelegate)
                    {
                        <DropdownActionItem Item="grunt" OnAction="(item => OnSelectTerminal.InvokeAsync(item))">
                            <span class="fe fe-terminal"></span>
                            Interact
                        </DropdownActionItem>
                    }
                    @if (!grunt.Hidden)
                    {
                        <DropdownActionItem TItem="Grunt" Item="grunt" OnAction="(async item => await OnHideGrunt(item))" class="text-warning">
                            <span class="fe fe-eye-off"></span>
                            Hide
                        </DropdownActionItem>
                    }
                    else
                    {
                        <DropdownActionItem Item="grunt" OnAction="(async item => await OnUnhideGrunt(item))" class="text-success">
                            <span class="fe fe-eye"></span>
                            Unhide
                        </DropdownActionItem>
                    }
                    <div class="dropdown-divider"></div>
                    <DropdownActionItem Item="grunt" OnAction="(async item => await OnExitGrunt(item))" class="text-danger">
                        <span class="fe fe-slash"></span>
                        Exit
                    </DropdownActionItem>
                    <DropdownActionItem Item="grunt" OnAction="(async item => await OnDeleteGrunt(item))" class="text-danger">
                        <span class="fe fe-x"></span>
                        Delete
                    </DropdownActionItem>
                </ActionDropdown>
            </td>
        </tr>
    </TableRow>
    <ButtonTray>@ButtonTray</ButtonTray>
</CovenantTable>

@code {
    [Parameter]
    public List<Grunt> Grunts { get; set; }

    [Parameter]
    public EventCallback<List<Grunt>> GruntsChanged { get; set; }

    [Parameter]
    public bool IsSearchable { get; set; } = false;

    [Parameter]
    public bool IsSortable { get; set; } = true;

    [Parameter]
    public bool IsPaginated { get; set; } = true;

    [Parameter]
    public int PageLength { get; set; } = 50;

    [Parameter]
    public EventCallback<Grunt> OnSelectTerminal { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }

    [Parameter]
    public RenderFragment ButtonTray { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputAttributes { get; set; }

    protected async override Task OnInitializedAsync()
    {
        this.Grunts = this.Grunts ?? (await Service.GetGrunts()).ToList();
        Service.DisposeContext();
    }

    private string GetGruntOpacity(Grunt g)
    {
        return g.Hidden || g.Status != GruntStatus.Active ? "0.3" : "1.0";
    }

    private void OnGruntsChanged(List<Grunt> Grunts)
    {
        this.Grunts = Grunts;
        this.GruntsChanged.InvokeAsync(Grunts);
    }

    private bool IsRowDisplayed(Grunt grunt, string SearchTerm)
    {
        return SearchTerm == string.Empty ||
            grunt.Name.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            (grunt.ImplantTemplate != null && grunt.ImplantTemplate.Name.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase)) ||
            grunt.Hostname.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            grunt.UserName.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            grunt.Status.ToString().Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            grunt.LastCheckIn.ToString().Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            grunt.Integrity.ToString().Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            grunt.OperatingSystem.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            grunt.Process.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase);
    }

    private async Task OnHideGrunt(Grunt grunt)
    {
        try
        {
            grunt.Hidden = true;
            AuthenticationState state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            await Service.EditGrunt(grunt, await Service.GetCurrentUser(state.User));
            Service.DisposeContext();
        }
        catch (Exception e) when (e is ControllerNotFoundException || e is ControllerBadRequestException || e is ControllerUnauthorizedException)
        {
            // return RedirectToAction(nameof(Interact), new { id = grunt.Id });
        }
    }

    private async Task OnUnhideGrunt(Grunt grunt)
    {
        try
        {
            grunt.Hidden = false;
            AuthenticationState state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            await Service.EditGrunt(grunt, await Service.GetCurrentUser(state.User));
            Service.DisposeContext();
        }
        catch (Exception e) when (e is ControllerNotFoundException || e is ControllerBadRequestException || e is ControllerUnauthorizedException)
        {
            // return RedirectToAction(nameof(Interact), new { id = grunt.Id });
        }
    }

    private async Task OnExitGrunt(Grunt grunt)
    {
        try
        {
            CovenantUser user = await Service.GetCurrentUser((await this.AuthenticationState).User);
            GruntCommand command = await Service.InteractGrunt(grunt.Id, user.Id, "Exit");
            Service.DisposeContext();
        }
        catch (Exception e) when (e is ControllerNotFoundException || e is ControllerBadRequestException || e is ControllerUnauthorizedException)
        {
            // return RedirectToAction(nameof(Interact), new { id = grunt.Id });
        }
    }

    private async Task OnDeleteGrunt(Grunt grunt)
    {
        try
        {
            await Service.DeleteGrunt(grunt.Id);
            Service.DisposeContext();
        }
        catch (Exception e) when (e is ControllerNotFoundException || e is ControllerBadRequestException || e is ControllerUnauthorizedException)
        {
            // return RedirectToAction(nameof(Interact), new { id = grunt.Id });
        }
    }
}