@using Covenant.Models.Grunts
@model IEnumerable<ReferenceSourceLibrary>

<div class="table-responsive">
    <table id="library-table" class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Location)</th>
                <th>@Html.DisplayNameFor(model => model.ReferenceAssemblies)</th>
                <th>@Html.DisplayNameFor(model => model.EmbeddedResources)</th>
                <th>@Html.DisplayNameFor(model => model.SupportedDotNetVersions)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="ReferenceSourceLibrary" asp-action="Edit" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                    @{
                        var assemblies = string.Join(",", item.ReferenceAssemblies.Select(RA => RA.Name));
                        var resources = string.Join(",", item.EmbeddedResources.Select(ER => ER.Name));
                        var versions = string.Join(",", item.SupportedDotNetVersions);
                    }
                    <td>@Html.DisplayFor(modelItem => assemblies)</td>
                    <td>@Html.DisplayFor(modelItem => resources)</td>
                    <td>@Html.DisplayFor(modelItem => versions)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-controller="ReferenceSourceLibrary" asp-action="Create" class="btn btn-primary">
    <span data-feather="plus"></span>
    Create
</a>