@inherits OwningComponentBase<ICovenantService>

@using Microsoft.JSInterop
@using Covenant.Core
@using Covenant.Models.Grunts
@using Covenant.Components.Shared
@inject IJSRuntime IJSRuntime

<CovenantTable TItem="GruntTask" Items="GruntTasks.ToList()" SearchRow="IsRowDisplayed"
               IsSearchable="IsSearchable" IsSortable="IsSortable" IsPaginated="IsPaginated" PageLength="PageLength" class="table table-hover">
    <TableHeader>
        <SortableTableHeader TItem="GruntTask" TItem2="string" GetSortableProperty="(task) => task.Name">
            <HeaderContent>Name</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="GruntTask" TItem2="string" GetSortableProperty="(task) => GetAliases(task)">
            <HeaderContent>Aliases</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="GruntTask" TItem2="ImplantLanguage" GetSortableProperty="(task) => task.Language">
            <HeaderContent>Language</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="GruntTask" TItem2="string" GetSortableProperty="(task) => GetCompatibleDotNetVersions(task)">
            <HeaderContent>CompatibleDotNetVersions</HeaderContent>
        </SortableTableHeader>
        <SortableTableHeader TItem="GruntTask" TItem2="string" GetSortableProperty="(task) => task.Author.Name">
            <HeaderContent>Author</HeaderContent>
        </SortableTableHeader>
    </TableHeader>
    <TableRow Context="task">
        <tr>
            <td>
                <a href="/grunttask/edit/@task.Id">
                    @task.Name
                </a>
            </td>
            <td>@GetAliases(task)</td>
            <td>@task.Language</td>
            <td>@GetCompatibleDotNetVersions(task)</td>
            <td>@task.Author.Name</td>
        </tr>
    </TableRow>
</CovenantTable>

@code {
    [Parameter]
    public IEnumerable<GruntTask> GruntTasks { get; set; }

    [Parameter]
    public bool IsSearchable { get; set; } = true;

    [Parameter]
    public bool IsSortable { get; set; } = true;

    [Parameter]
    public bool IsPaginated { get; set; } = true;

    [Parameter]
    public int PageLength { get; set; } = 25;

    protected override async Task OnInitializedAsync()
    {
        this.GruntTasks = this.GruntTasks ?? await Service.GetGruntTasks();
    }

    private string GetCompatibleDotNetVersions(GruntTask task)
    {
        return string.Join(", ", task.CompatibleDotNetVersions.Select(DN => DN.ToString()));
    }

    private string GetAliases(GruntTask task)
    {
        return string.Join(",", task.Aliases);
    }

    private bool IsRowDisplayed(GruntTask task, string SearchTerm)
    {
        return SearchTerm == string.Empty ||
            task.Name.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            GetAliases(task).Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            task.Language.ToString().Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            GetCompatibleDotNetVersions(task).Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase) ||
            task.Author.Name.Contains(SearchTerm, StringComparison.CurrentCultureIgnoreCase);
    }
}
